<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sci.da.background.ManagerNotice.mapper.ManagerNoticeMapper">
    <update id="revokeNotice">
        update NOTICE_CENTER set del_flag = '1' where id in
        <foreach collection="noticeIdList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="getSendNotice" resultType="com.sci.da.front.Notice.dto.NoticeCenterDTO">
        select id, notice_title, notice_detail, read_status, publish_manager, del_flag, create_time
        from NOTICE_CENTER
        <where>
            <if test="noticeCenterDTO.publishManager != null and noticeCenterDTO.publishManager != ''">
                publish_manager like '%${noticeCenterDTO.publishManager}%'
            </if>
            <if test="noticeCenterDTO.noticeTitle != null and noticeCenterDTO.noticeTitle != ''">
                notice_title like '%${noticeCenterDTO.noticeTitle}%'
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>