<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sci.da.front.User.mapper.UserInfoMapper">


    <select id="getUserInfoList" resultType="com.sci.da.front.User.dto.UserMsgDTO">
        select SCI_USER.user_id,SCI_USER.user_login_name,SCI_USER.create_time,
                    USER_INFO.email,USER_INFO.phone_number,USER_INFO.school,USER_INFO.professional,
                    USER_INFO.title
        from SCI_USER
        left join USER_INFO on SCI_USER.user_login_name = USER_INFO.account
        <if test="account != null and account != ''">
            where SCI_USER.user_login_name = #{account}
        </if>
    </select>

</mapper>